#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp KP_07  &kp KP_08  &mo 1
				&kp KP_04  &kp KP_05  &kp KP_06 
				&kp KP_01  &kp KP_02  &kp KP_03 
			>;
		};
		bt_layer {
			bindings = <
				&none        &none        &bootloader 
				&none        &none        &bt BT_CLR 
				&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
			>;
		};
	};
};
