if SHIELD_VAJRA_LEFT

config ZMK_KEYBOARD_NAME
    default "Vajra"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VAJRA_RIGHT
	config ZMK_SPLIT_ROLE_PERIPHERAL
    	bool "Peripheral side of split keyboard"
    	default y
endif

