if SHIELD_VAJRA_LEFT

config ZMK_KEYBOARD_NAME
    default "Vajra"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VAJRA_LEFT || SHIELD_VAJRA_RIGHT

config ZMK_SPLIT
    default y

endif
